Source: nvml
Maintainer: Keith Packard <packard@hpe.com>
Uploaders: Keith Packard <keithp@keithp.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9), uuid-dev
Standards-version: 3.9.6
Homepage: http://pmem.io/
Origin: HPE

Package: libpmem
Section: misc
Priority: optional
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: NVML libpmem library
 NVML library for Persistent Memory support

Package: libpmem-dev
Section: libdevel
Priority: optional
Architecture: amd64 arm64
Depends: libpmem (=${binary:Version}), uuid-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Development files for libpmem
 Development files for libpmem library.
