Source: nvml
Maintainer: Zakhar Volchak <zakhar.volchak@hpe.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9), uuid-dev
Standards-version: 3.9.6.1
Homepage: https://hlinux-gitlab.us.rdlabs.hpecorp.net/l4tm/nvml/tree/hp_l4tm/src/libpmem
Vcs-Browser: https://hlinux-gitlab.us.rdlabs.hpecorp.net/l4tm/nvml/tree/hp_l4tm/src/libpmem
Vcs-Git: https://hlinux-gitlab.us.rdlabs.hpecorp.net/l4tm/nvml.git

Package: libpmem
Section: misc
Priority: optional
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: NVML libpmem library
 NVML library for Persistent Memory support
Homepage: https://hlinux-gitlab.us.rdlabs.hpecorp.net/l4tm/nvml/tree/hp_l4tm/src/libpmem

Package: libpmem-dev
Section: libdevel
Priority: optional
Architecture: amd64 arm64
Depends: libpmem (=${binary:Version}), uuid-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Development files for libpmem
 Development files for libpmem library.
